body {

    box-sizing: border-box;
}

a {

    text-decoration: none;
}

.container {

    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.content {

    width: 70%;
}

/* ----------------- header -----------------------*/

.navigation {

    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-inner {

    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-list {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 4;
}

.btn {

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    color: #212353;
    line-height: 1.5em;
    cursor: pointer;
}

.demo-btn {

    background-color: #FFFFFF;
    color: #212353;
    padding: 17px 29px;
}

.button-arrow {

    width: 20px;
    height: 14px;
    margin-left: 20px;
}

.nav-list a {

    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}

.nav-list a:nth-child(1) {

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}

.nav-list a:hover {

    color:#212353;
}

/* ------------------------- main ---------------------------- */

main {

    width:100%;
    margin-top:10em;
}

main::after {

    display: inline-block;
    position: relative;
    content: '';
    width:80vw;
    height: 1px;
    background: #9C69E2;
    opacity: .3;
    left:-15vw;
    right:100%;
    margin-top: 10em;
    margin-bottom:10em;
}

/* ------------------------- Save --------------------- */

.section-save {

    width:100%;
    height:30em;
    background-image: url(./images/img1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70%;
}

.save-content {

    width:50%;
}

.save-tittle,
.about-tittle,
.features-tittle {

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    color: #212353;
}

.save-tittle {


    font-size: 3.5em;
    line-height: 110%;
    margin: 0.67em 0;
}

.save-text,
.about-text,
.features-text {

    font-family: Avenir;
    font-style: normal;
    color: #4B5D68;
    line-height: 160%;
    font-weight: 500;
    font-size: 18px;
}

.save-text {

    width:65%;
    margin-bottom: 3em;
}

.learn-btn {

    background-color: #9C69E2;
    color: #FFFFFF;
    padding: 16px 37px;
}

/* ----------------------- About --------------------- */

.section-about {

    width:100%;
    height:auto;
    background-color:#F063B826;
    border-radius: 3%;
    margin-top:5em;
    display:flex;
}

.about-picture {

    width:50%;
}

.picture-about-section {

    width:100%;
}

.about-content {

    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-tittle {

    font-size: 2em;
    line-height: 130%;
    width:80%;
    margin-bottom:1em;
}

.about-text {

    width:80%;
}

/* ---------------------------- Features --------------------- */

.features {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5em;
}

.features-title {

    font-size: 40px;
    line-height: 130%;
    margin-bottom: 50px;
}

.features-text {

    text-align: center;
    width: 47%;
    margin-bottom: 70px
}

.grid-cases {

    display:grid;
    grid-template-columns: auto auto;
    gap:5em;
}

.features-cases {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.features-content {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.features-picture-section {

    width:50%;
}

.features-text-section {

    width: 45%;
    height: 100%;
}

.features-text-section h4 {

    font-size: 1.3em;
    line-height: 160%;
    font-size: 1.3em;
    color: #212353;
}

.features-text-section p {

    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}

.features-link {

    display: flex;
    align-items: center;
    width: 45%;
    text-decoration: none;
    color: #212353;
    font-weight: 700;
    font-size: 1em;
}

.features-arrow {

    margin-left:10px;
    width: 20px;
    height: 14px;
    margin-top:2px;
}

/* ------------------------- testimonials --------------------- */

.section-testimonials {

    background: #9C69E2;
    border-radius: 50px;
    padding: 6em 5em 3.5em 6em;
    margin-top:10em;
}

.section-testimonials h3 {

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}

.content-johnfang {

    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(126, 80, 192, 0.3);
    border-radius: 20px;
    z-index: 1;
    margin: 5.5em 0 3.8em;
    padding: 3.5em 6.5em 4em;
    display: flex;
    justify-content: space-between;
}

.picture-johnfang {

    width: 23%;
}

.info-johnfang {

    width: 72%;
    display: flex;
    flex-direction: column;
}

.info-johnfang span {

    font-size: 1em;
    font-weight: 600;
    line-height: 3em;
    color:#212353;
}

.info-johnfang a {

    color: #9C69E2;
}

.info-johnfang p {

    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    margin-top:8px;
}

.johnfang-slider {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dots {

    display: flex;
    align-items: center;
}

.dot {

    height:5px;
    width:5px;
    border-radius: 100%;
    background-color: #fff;
    margin-right:9px;
}

.dot:first-child {

    height:10px;
    width:10px;
    border-radius: 100%;
    background-color:  #F063B8;

}

.dot:hover {

    background-color:  #F063B8;
}

.arrows {

    display: flex;
    justify-content: space-around;
    width: 100px;
}

.dot,
.arrows,
.footer-copyright img {

    cursor: pointer;
}

/* -----------------------footer ----------------------- */

footer {

    padding: 5em 0;
    display: flex;
    flex-direction: column;
}

.footer-content {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9em;
    flex-wrap: wrap;
}

.footer-content-text h3 {

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    margin-bottom:1em;
}

.footer-content-text p {

    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.footer-content-buttons {

    display: flex;
    flex-wrap: wrap;
}

.footer-content-buttons button {

    margin-right:1em;
}

.footer-info-content {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6.5em;
    flex-wrap: wrap;
}

.contacts-tittle {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3em;
}

.contacts-tittle h4 {

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    padding-left:1em;
}

.contacts-text {

    display: flex;
    flex-direction: column;
}

.contacts-text p {

    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    width:60%;
}

.contacts-text a {

    color: #212353;
    margin-top:1em;
}

.footer-links {

    display:flex;
    flex-direction: column;
    margin-top: 3em;
}

.footer-list h4,
.footer-info-item h4 {

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
     color: #212353;
}

.footer-links a {

    line-height: 2em;
    color: #212353;
}

.footer-social-link {

    margin-top:2em;
    cursor: pointer;
}

.footer-social-link img {

    padding-right:3px;
}

.footer-copyright {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-bottom:3em;
}

.footer-copyright p {

    font-size: 0.8em;
    color: #212353;
    line-height: 1.8em;
}